{
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 600,
  "trailingComma": "none"
}
